<div class="container-fluid">
    <div class="col-sm-3 sidenav">
      <h1>{{person.name}}</h1>
      <div class="row">
        <div class="col-md-15">
          <div class="thumbnail">
            <div class="pull-left" >
              <img src="http://image.tmdb.org/t/p/original{{person.imagePath}}"
                   alt="{{ person.name }}"
                   class="img-responsive"
                   style="height: 75%; width: 75%;">
              <p class="list-group-item-text">{{ person.biograpy }}</p>
            </div>
          </div>
        </div>
        <div> Gender :  {{getGender(person.gender)}}</div>
        <a href="https://en.wikipedia.org/wiki/{{person.name}}">Wikipedia</a>
      </div>
    </div>

  <div class="col-sm-5">
    <h3 style="font-weight: bold;">Actor:</h3>
    <div *ngFor="let cast of person.castList">
      <div class="row">

        <div class="col-sm-3">
          <div class="thumbnail">
            <a [routerLink]="['/movie', cast['_id'].id]">
              <img src="https://image.tmdb.org/t/p/original{{cast['_id']['poster_path']}}"
                   alt="{{cast['_id'].title}}" style="width: 33%; height: 33%;">
            </a>
          </div>
        </div>
       
        <div class="col-sm-4" style="outline-color: none;">
          <br />
          <br />
            <a [routerLink]="['/movie', cast['_id'].id]">
              {{cast['_id'].title}}
            </a>
            <br />
        </div>

        <div class="col-md-5">
          <div style="outline-color: none;">
            <br />
            <br />
            As {{cast.character}}
            <br />
          </div>
        </div>

      </div>
     </div>
  </div>

  <div class="col-sm-4">
    <h3 style="font-weight: bold;">Crew:</h3>
    <div *ngFor="let crew of person.crewList">
      <div class="thumbnail">
        <a [routerLink]="['/movie', crew['_id'].id]">
          <img
          src="http://image.tmdb.org/t/p/original{{crew['_id']['poster_path']}}"
          alt="{{crew['_id'].title}}" style="width: 180px; height: 270px;">
          <div class="caption" style="font-weight:bold; outline-color: none; text-align: center;">
            {{crew.department}}
          </div>
        </a>
      </div>
    </div>
  </div>

</div>







