.navbar-default {
  background-color: #669999;
  border-color: none;
  color: white;
}

 .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
   background-color: #476b6b;
   color: white;
 }

.navbar-default input[type=search] {
  background-color: white;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}




