<form>
  <mat-form-field class="container">

    <!-- ADD AN INPUT BOX OF TYPE TEXT AND LINK IT TO THE AUTO COMPLETE PANEL. -->
    <input type="search" placeholder="Search books ..."
           matInput
           [formControl]="searchTerm"
           [matAutocomplete]="auto"
            class ="form-control"
    >

    <!-- CREATE AUTO COMPLETE PANEL WITH OPTIONS. -->
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let movie of result['movie']" [value]="movie.name">
        {{ movie.name }}
      </mat-option>
      <mat-option *ngFor="let person of result['people']" [value]="person.name">
        {{ person.name }}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>
</form>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand" style="color: white">THE MOVE DB</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="movies" style="color: white">MOVIES</a></li>
        <li><a routerLink="/people" style="color: white">PEOPLE</a></li>
        <li style="float: right;"><a routerLink="/about" style="color: white">About</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li style="float: right;"><a routerLink="/login" style="color: white">LOGIN</a></li>
        <li style="float: right;"><a routerLink="/signup" style="color: white">SIGN UP</a></li>

      </ul>
    </div>
  </div>








</nav>
