<h1>Movie List</h1>
<div class="row">
  <div class="col-md-15">
    <div class="thumbnail">
      <a href="#"
         class="list-group-item clearfix"
         *ngFor="let movie of movies">
        <div class="pull-left">
          <h4 class="list-group-item-heading"> {{ movie.name }}</h4>
          <p class="list-group-item-text">{{ movie.description }}</p>
        </div>
        <span class="pull-right">
        <img [src]="movie.imagePath"
             alt="{{ movie.name }}"
             class="img-responsive"
             style="max-height: 180px; max-width: 300px;">
        </span>
      </a>
    </div>
  </div>
</div>
