.fill-data-btn {
  background-color: #9DC183;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
}

:not(.fill-data-btn) {
  background: none;
  border: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
