* {
  background: none;
  border: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

.row {

  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
